
<section class="footer-section">
  <footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; WerkBaAr 2017</span>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons" id="social-section">
                  <li><a href="https://www.facebook.com/WerkBaAr/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/company/18176962/"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
          <!-- <div class="col-md-3">
              <span class="email">info@mos-man.be</span>
          </div> -->
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a id="bootstrap-overrides" href="/privacybeleid/">Privacybeleid</a>
                  </li>
                  <!--<li><a href="#">Terms of Use</a>
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</footer>
</section>
