
<section class="footer-section">
  <footer>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; WerkBaAr 2018
          <br/> Lange Winkelhaakstraat 26 - 2060 Antwerpen
           <br/> Co-Actief cvba-so * BTW BE 0871 261 918 </span>
                </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons" id="social-section">
                  <li><a href="https://www.facebook.com/WerkBaAr/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/company/18176962/"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>

          <!-- <div class="col-md-3">
              <span class="email">info@mos-man.be</span>
          </div> -->
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li> <a href="/privacybeleid/">Privacybeleid</a>
                  </li>
                  <li> <a href="/algemene voorwaarden/">Algemene voorwaarden</a>
                  <!--<li><a href="#">Terms of Use</a>
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</footer>
</section>
