

<div id="gastvrouw" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-justify">De Gastvrouw</h1>
      <hr>
      <h2>Aline, barista van WerkBaAr</h2><br>

        <h4 class="text-justify"> Ik ben Aline, 30 jaar. "Op papier" doctor arbeidsrecht; maar in real life vooral storyteller en verbinder. Vandaag amuseer ik me voornamelijk
        als barista van WerkBaAr.</h4><br>

        <p class="text-justify"> Na 6 jaar als onderwijs- en onderzoeksassistent, een boeiende HR-ervaring en een uitstap als advocate, begonnen bij mij de ondernemersmicroben te
        knagen. Net als mijn drang om mijn communicatieve skills en mijn coaching- en netwerkvaardigheden professioneel waar te maken - en niet
        “enkel” als vrijwilliger. Dat ik daarvoor moest loskomen van mijn diploma rechten en mijn opgebouwde werkverleden, dat was even een bokkensprong  –
        dat geef ik toe, maar van die sprong heb ik nog geen spijt. Net door wat af te wijken van mijn “klassieke pad” en me te laten drijven door
        mijn passie voor verrijkende ont-moet-ingen en verrassende verhalen, geef ik vorm aan mijn professionele (en persoonlijke) ontdekkingspad.
        Iedereen die ik onderweg tegenkom, zie ik als een verhelderende wegwijzer. Het is net die ervaring die ik in en via WerkBaAr wil doorgeven.
        <br><br>
        Ja, talenten aanmoedigen om elke werkdag weer te beginnen met enthousiasme en een heldere focus, is iets waarvoor ik vol goesting opsta,
        steeds met een open houding voor al wie ik op mijn pad tref. Dankzij WerkBaAr maak ik zelf ook de WerkBaAr missie waar en zeg ik volmondig
        ja op het (werk)leven. Vanuit dat enthousiasme en die pittigheid inspireer en empower ik andere talenten. Daarbij val ik terug op mijn
        pure passie voor taal, mijn talent als verhalenverteller en mijn ervaring als vormingscoach.
        <br><br>
        Want, werken vanuit passie en talenten, vergt ook veerkracht. Bereidheid om te leren en om te vallen, wetende dat je met geduld en
        wilskracht ook wel weer recht zal staan. Die veerkracht kan je kweken, eventueel met de hulp van wat coaching. Ik geloof hier sterk in de
        kracht van verbindende verhalen en het leren uit constructieve feedback van gelijkgestemde krachten. Vandaar dat ik inzet op taalcoaching
        en groeien op basis van peer review. Die methode dwingt je te vertrouwen: in jezelf, alsook in anderen - maar zonder naïef te zijn.
        En delen. Vooral delen. Want, wat je geeft, dat krijg je terug. Dat staat vast. Dat heb ik zelf gaandeweg - met stevig te vallen en rustig
        weer op te staan dus - ervaren en beleefd.
        <br><br>
        <b>Delen dus, die missie. Zo maak je mee WerkBaAr groot. Want, hoe meer WerkBaAre ingrediënten er worden gemixt, hoe meer gekruide appetizers,
        hoofdplats en “pittige kopjes” WerkBaAr kan serveren, opdat jij, ondernemend talent, jouw professionele pad goed gespijsd kan ontdekken.
        Goesting?</b></p>

    </div>
    <div id="Aline" class="col-sm-4">
  <img src="{{ site.baseurl }}/img/Aline.png">
    </div>
  </div>

</div>
