<section id="gasten" class="gasten-section">

  <div class="container">
      <div class="well">
          <div class="row">
               <div class="col-md-12">
                   <div class="row hidden-md hidden-lg"><h1 class="text-center" >ONZE GASTEN</h1></div>

                   <!--<div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src='http://placehold.it/500x500' /></div>-->
                   <div class="">
                       <h1  class="hidden-xs hidden-sm">Onze Gasten</h1>
                       <hr>
                       <h2>Ondernemende talenten, ontdekkingsreizigers op de arbeidsmarkt</h2>
                       <hr>
                       <p class="text-justify">Ben jij een pittig kopje dat (nog meer) met passie, zin en vanuit
                         zijn talenten werkt of wil werken en krijg je niet alleen het water in de mond van
                         klassieke succesgerechten, maar ook van originele mixen? Breng je graag een aparte en
                         vooral persoonlijke smaak in je professionele stoofpot en durf je het aan om met vreemde
                         ingrediënten te experimenteren of nieuwe recepten uit te testen in jouw werklabo?
                         Ben je bereid om de kennis en ervaringen die je sprokkelde tijdens je professionele
                         ontdekkingstocht onbaatzuchtig, oprecht en open te delen met andere avonturiers?
                         Dan is WerkBaAr de plek voor jou!<br><br>

                   En wees gerust, klant is koning. Jij beslist. We houden rekening met jouw honger, smaak en wensen.
                   Of je nu enkel vastzit met het vinden van de woorden om jouw professionele stoofpot smaakvol op smaak
                   te brengen en op de kaart te zetten, of je ook nieuwe mixen wil proeven en je daarbij graag laat
                   inspireren door succesrecepten van andere pittige talenten? Tafeltje alleen, voor twee of in groep?
                   Alles kan, alles mag. Op jouw ritme en naar jouw maat. Als je WerkBaAr maar goed gevoed verlaat. </p></div>
               </div>
          </div>
      </div>
  </div>

</section>
