

<div id="gasten" class="container-fluid bg-grey">
  <div class="row">
    <div id="globe" class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h1  class="text-justify">Onze Gasten</h1>
      <hr>
      <h2>Ondernemende talenten; de ontdekkingsreizigers op de arbeidsmarkt</h2><br>
      <h4 class="text-justify">Ben jij een pittig kopje dat (nog meer) met passie, zin en vanuit
        zijn talenten werkt of wil werken en krijg je niet alleen het water in de mond van
        klassieke succesgerechten, maar ook van originele mixen? Breng je graag een aparte en
        vooral persoonlijke smaak in je professionele stoofpot en durf je het aan om met vreemde
        ingrediënten te experimenteren of nieuwe recepten uit te testen in jouw werklabo?
        Ben je bereid om de kennis en ervaringen die je sprokkelde tijdens je professionele
        ontdekkingstocht onbaatzuchtig, oprecht en open te delen met andere avonturiers?
        Dan is WerkBaAr de plek voor jou!</h4> <br>

  <p class="text-justify">En wees gerust, klant is koning. Jij beslist. We houden rekening met jouw honger, smaak en wensen.
  Of je nu enkel vastzit met het vinden van de woorden om jouw professionele stoofpot smaakvol op smaak
  te brengen en op de kaart te zetten, of je ook nieuwe mixen wil proeven en je daarbij graag laat
  inspireren door succesrecepten van andere pittige talenten? Tafeltje alleen, voor twee of in groep?
  Alles kan, alles mag. Op jouw ritme en naar jouw maat. Als je WerkBaAr maar goed gevoed verlaat. </p></div>
  </div>
</div>
