

<div id="gasten" class="container-fluid bg-grey">
  <div class="row">
    <div id="globe" class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h1  class="text-justify">Onze Gasten</h1>
      <hr>
      <h2>Ondernemende talenten; de ontdekkingsreizigers op de arbeidsmarkt</h2><br>
      <h4 class="text-justify">Ben jij een pittig kopje dat (nog meer) met passie, zin en vanuit
        zijn talenten werkt of wil werken en krijg je niet alleen het water in de mond van
        klassieke succesgerechten, maar ook van originele mixen? Breng je graag een aparte en
        vooral persoonlijke smaak in je professionele stoofpot en durf je het aan om met vreemde
        ingrediënten te experimenteren of nieuwe recepten uit te testen in jouw werklabo?
        Ben je bereid om de kennis en ervaringen die je sprokkelde tijdens je professionele
        ontdekkingstocht onbaatzuchtig, oprecht en open te delen met andere avonturiers?
        Dan is WerkBaAr de plek voor jou!</h4> <br>

  <p class="text-justify">En wees gerust, klant is koning. Jij beslist. We houden rekening met jouw honger, smaak en wensen.
  Of je nu enkel vastzit met het vinden van de woorden om jouw professionele stoofpot smaakvol op smaak
  te brengen en op de kaart te zetten, of je ook nieuwe mixen wil proeven en je daarbij graag laat
  inspireren door succesrecepten van andere pittige talenten? Tafeltje alleen, voor twee of in groep?
  Alles kan, alles mag. Op jouw ritme en naar jouw maat. Als je WerkBaAr maar goed gevoed verlaat. </p></div>
  </div>

<br>
<hr>
<br>

<h2>Proef de suggesties van eerdere gasten</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h4 class="text-align">“Vandaag ben ik op cursus geweest rond het thema empathisch luisteren. Aline heeft dat geweldig gedaan! Vond het heel fijn. Door de inbreng van de groep toch weer allerlei dingen opgestoken en fijne contacten gelegd.” <br><br><span>Pieter Hendrickx</span></h4>
    </div>
    <div class="item">
      <h4 class="text-align">"WerkBaAr doet ondernemende talenten hun (werk)dromen, passie en talent uitdrukken vanuit de overtuiging dat ze zo ook een hoger niveau van (werk)geluk ervaren."<br><br><span>Sofie Rombouts</span></h4>
    </div>
    <div class="item">
      <h4 class="text-align">"Vanuit je passie en talent ondernemen?Dan moet je bij Werkbaar zijn. Je hart volgen en werk doen wat bij je past,daar word je blij en gelukkig van!"<br><br><span>Shirley Rianne</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
