

<div id="kaart" class="container-fluid text-center">
  <h1>Het Menu</h1>
  <hr>
  <h2>Wat WerkBaAr allemaal te bieden heeft</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>Verhaalsopbouw en communicatiecoaching als individueel traject</h4>
      <p class="text-justify">
        WerkBaAr coacht ondernemende talenten die op ontdekking (willen) trekken op de arbeidsmarkt in het
        zin-vol uitdrukken van wat elk talent in zijn werk trekt en drijft. <br><br>

        Via taal slaat WerkBaAr de brug tussen datgene waar jij,
        als ondernemend talent, van droomt en wat jij in en dankzij je werk waarmaakt. In dit individueel
        traject leert WerkBaAr jou hoe jij jouw motivatie, passie en talenten onder woorden brengt en hoe
        je jouw missie verwerkt tot een WerkBaAr verhaal. Een verhaal dat andere talenten inspireert;
        een verhaal dat talent-spotters raakt en overtuigt om met jou verder te gaan -
        of dat nu als werknemer is, als leidinggevende of als zelfstandig ondernemer is. </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>WerkBaAr als gedeeld groeikanaal met coaching op basis van peer learning </h4>
      <p class="text-justify">
        Zodra elk talent zijn verhaal op punt heeft gesteld, kan hij daarmee naar buiten treden en ervoor
        kiezen een groepstraject aan te gaan. In dat traject verenigt WerkBaAr verhalen van gelijkgestemde
        talenten rond de zin die hen met elkaar verbindt. <br><br>

        Vanuit die verbinding versterken de verenigde talenten niet alleen elkaars verhaallijn,
        maar verscherpt elk talent voor zichzelf ook de unieke punten die hem onderscheiden en verrijkt
        hij zijn ontdekkingspad - het pad waarlangs het talent zijn WerkBaAr verhaal kan be-leven. </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>WerkBaAr als interactief tref-punt</h4><br>
      <p class="text-justify">
        En die belevingen, die deelt WerkBaAr – zowel online als in de pop up WerkBaAr.
        Zo biedt WerkBaAr ondernemend talent naast een klankbord en inspiratie, ook tools en formats
        die hen empoweren om (nog meer) met passie, zin en vanuit hun talent te werken.<br><br> WerkBaAr werkt
        dan als een zin-vol rustpunt waar ondernemend talent elkaar treft.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>De online WerkBaAr</h4>
      <p class="text-justify">
      In de online WerkBaAr vinden ondernemende talenten (gratis) pittige ingrediënten en rijke recepten
      opdat ze hun ontdekkingstocht op de arbeidsmarkt goed gevoed van start zouden gaan en/of smaakvol
      kunnen verderzetten.<br><br>

     WerkBaAr serveert hier voor ieder wat wils: van een selectie  gekruide smaakmakers voor fijnproevers
     en hartige hoofdplats voor veelvraten tot een pittig kopje als afsluiter. Wees verrast door het menu
     </p>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>De pop up WerkBaAr</h4>
      <p class="text-justify">
      De pop up WerkBaAr verenigt ondernemend talent rond een programma van workshops, lezingen
      en vragenrondes rond het thema ‘werken met passie, zin en vanuit talent’. Het bereikt een
      hoogtepunt tijdens de luch: dan wordt er voluit genetwerkt en kunnen de aanwezige talenten
      speedates aangaan met “talent-spotters”.<br><br> Zo verbindt WerkBaAr de talenten niet enkel met
      elkaar, maar ook met tal van zoekers met wie ze in WerkBaAr diepgaandere coaching-
      of sollicitatiegesprekken kunnen aangaan.
     </p>
    </div>
  </div>
</div>
