<section id="welkom" class="welkom-section">

  <div class="container">
      <div class="well">
          <div class="row">
               <div class="col-md-12">
                   <div class="row hidden-md hidden-lg"><h1 class="text-center" >WELKOM</h1></div>

                   <!--<div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src='http://placehold.it/500x500' /></div>-->
                   <div class="">
                       <h1  class="hidden-xs hidden-sm">Welkom in WerkBaAr</h1>
                       <hr>
                       <h2>Een zin-vol tref-punt voor ondernemend talent</h2>
                       <hr>
                       <p class="text-justify">WerkBaAr herbergt ondernemend talent rond het thema “werken met passie,
                         zin en vanuit zijn talent”. Het is een waardevolle inspiratiebron, een verrijkend informatiepunt,
                         een vernieuwend groeikanaal en een pittig netwerkforum voor ontdekkingsreizigers op de arbeidsmark.
                         Vanuit die insteek helpt WerkBaAr ondernemende talenten bij hun verhaalsopbouw en biedt het hen communicatiecoaching
                         (individueel alsook op basis van peer learning). <br><br>

                   Het unieke aspect ligt in de authentieke wijze waarop WerkBaAr als veelzijdig tref-punt is opgebouwd.
                   WerkBaAr draait om zin-volle verbinding op de arbeidsmarkt niet alleen tussen de talenten onderling,
                   maar ook tussen hen en tal van talent-spotters. Die verbinding brengt WerkBaAr voort via verhalen.
                   Zo giet WerkBaAr de werkdroom van elk talent in een WerkBaAr verhaal. Een verhaal dat vervolgens
                   in en dankzij WerkBaAr andere pittige talenten inspireert en hun verhaal verrijkt. <br><br>

                   The wow schuilt in het geloof in de kracht van het verenigd talent: mensen die de ontdekkingstocht
                   op de arbeidsmarkt die ze binnenin zichzelf beleven naar buiten dragen en zo enthousiast meebouwen
                   aan een (z)innig tref-punt van gelijkgestemden op de arbeidsmarkt.<br><br>

                   WerkBaAr verwondert, enthousiasmeert en verbindt ondernemend talent, opdat steeds meer mensen werken
                   met passie, zin en vanuit hun talent. Als mensen worden versterkt en bevestigd in hun kracht, dan kunnen
                   ze meer dan ze zelf voor mogelijk denken, beleven ze hun werk meer als een wonderlijk avontuur, bewegen
                   ze met een bredere lach op de arbeidsmarkt en staan ze gelukkiger in het leven. </p></div>
               </div>
          </div>
      </div>
  </div>

</section>
