---
layout: default
comments: true
---

<div id="blog" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page">

        <header class="page-header">
          <h3 class="page-title"><a href="{{page.url|prepend: site.baseurl}}">{{ page.title }}</a></h3>
          <div class="post-metadata">
            <div> <i class="fa fa-calendar"></i>

              <time>
                {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
{% when '1' %}Januari
{% when '2' %}Februari
{% when '3' %}Maart
{% when '4' %}April
{% when '5' %}Mei
{% when '6' %}Juni
{% when '7' %}Juli
{% when '8' %}Augustus
{% when '9' %}September
{% when '10' %}Oktober
{% when '11' %}November
{% when '12' %}December
{% endcase %}
{{ page.date | date: "%Y" }}
              </time>
            </div>
          </div>

        </header>

        <div class="PageNavigation">
  {% if page.previous.url %}
    <b><a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></b>
  {% endif %}
  {% if page.next.url %}
    <b><a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></b>
  {% endif %}
</div>

        <article class="page-content">

          {{ content }}

        </article>

        <div class="PageNavigation">
  {% if page.previous.url %}
    <b><a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></b>
  {% endif %}
  {% if page.next.url %}
    <b><a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></b>
  {% endif %}
</div>

<br><br><br>

  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://werkbaar.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


      </div>
    </div>
  </div>
</div>
